@using ECommerceEntities;
@{
    ViewBag.Title = "Index";


}

<h2>Customer Profile</h2>
@{
    CustomerProfile profile = (CustomerProfile)ViewData["profile"];
    @Html.Partial("PersonalInformationView", profile.TheCustomer);
    @Html.Partial("OrdersHistoryView", profile.OrderHistory);
}
<hr>
