<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>


<h2> Product Catalog</h2>


<!-- Code for displaying product table -->
<div id="showProducts">
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th class="text-center text-bg-success " colspan="5">Products</th>
            </tr>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Image</th>
                <th>Description</th>
                <th>Brand</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Category</th>
                <th>LastModified</th>

            </tr>
        </thead>
        <tbody id="tbProducts"></tbody>
    </table>
</div>

<!-- Code for displaying manipulation options-->
<div class="d-flex flex-row  border rounded border-1 ">

    <div class="m-3  d-flex flex-column gap-2 w-50" id="getInfoDiv">
        <input id="txtProductId" placeholder="Enter Product ID" type="number" />
        <button class="btn btn-info w-50" id="btnGet">Get Data to Update</button>
        <button class="btn btn-info w-50" id="btnDelete">Delete</button>
        <button class="btn btn-info w-50" id="btnEnterData">Insert</button>
    </div>

    <div id="divDetailShow" class="border border-1 w-50 justify-content-center" hidden>
        Enter Product Info to
        <form class="form-control d-flex flex-column justify-content-center">
            <label>ID</label>
            <input id="txtId" type="number" />
            <label>Name</label>
            <input type="text" id="txtProName" />
            <label>Description</label>
            <input type="text" id="txtProDesc" />
            <label>UnitPrice</label>
            <input type="number" id="txtProUPrice" />
            <label>Quantity</label>
            <input type="number" id="txtProQuantity" />
            <label>Img Url</label>
            <input type="text" id="txtProImgUrl" />
            <input class="btn btn-info" id="btnUpdate" type="button" value="Update" />
            <input class="btn btn-info" id="btnInsert" type="button" value="Insert" hidden />
        </form>
    </div>
</div> 

<script>
    let url = "/api/products";


    // function to display table
    let displayTable = (products) => {
        $('#tbProducts').html('');
        $.each(products, (index, item) => {
            var trBody = '<tr>' +
                '<td class="fs-6">' + item.id + '</td>' +
                '<td>' + item.title + '</td>' +
                '<td>' + '<img src= ' + item.imageUrl + ' class="img-fluid" style="max-width: 50px; max-height: 50px;" >' + '</td>' +
                '<td>' + item.description + '</td>' +
                '<td>' + item.brand + '</td>' +
                '<td>' + item.price + '</td>' +
                '<td>' + item.stock + '</td>' +
                '<td>' + item.category + '</td>' +
                '<td>' + item.lastModified + '</td>' +
                '</tr>';
            $('#tbProducts').append(trBody);
        });
        //console.log(products);
    }

    //function for ajax api to get all product list
    let getAllProduct = () => {
        console.log("1")
        $.ajax({
            url: "http://localhost:5218/api/products",
            type: 'GET',
            xhrFields: {
                withCredentials: true  // Ensures cookies are sent with the request
            },
            success: function (data) {
                displayTable(data)
            },
            error: function () {
                alert("An error occurred while loading products.");
            }
        });
    }


    $(document).ready(() => {

        console.log("start")
        getAllProduct()
    });



</script>