@{
    ViewBag.Title = "Home Page";
}

<h1>HDFC NetBanking</h1>
<img src="~/Images/hdfc.png" width="200" height="100" />


<hr />
@{
    string company = "Transflower Learning Pvt. Ltd";

    <p>Created and maintained by  @company</p>

}
