
<p id="para">Static content</p>
<hr/>

<script>
    var result = 87;
    result++;
    var text = "Welcome to Client Side Code execution";
    var pText = document.getElementById("para");
    pText.innerHTML = text;

    //Callback function
    //action listener
    //event handler

    /*function onSignIn() {
        alert("button is clicked........");
    }*/

     var onSignIn = function () {
        alert("button is clicked........");
    } 

</script>

