
@{
    ViewBag.Title = "JqueryDemo";
}
<h2>JqueryDemo</h2>
<hr/>
<p  id="para"> Hello World</p>
<button id="btnShow">Show </button>
<button id="btnHide">Hide</button>

<script src="~/Scripts/jquery-3.7.0.min.js"></script>
<script src="~/Scripts/jquerydom.js"></script>
 