<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<h2>Shipment Details</h2>

<div>
    <p id="orderid" ><strong>Order Id:</strong> </p>
    <p id="customername"><strong>Customer Name:</strong> </p>
    <p id="customeraddress"><strong>Customer Address:</strong> </p>
    <p id="totalamount"><strong>Total Amount:</strong></p>
    <p id="deliverydate"><strong>Delivery Date:</strong> </p>

</div>

<div id="radio-buttons-div">

            <input type="radio" class="form-check-input" id="Pending" name="DeliveryStatus" value="Pending" />
            <label class="form-check-label" for="Pending">Pending</label>

            <input type="radio" class="form-check-input" id="Dispatched" name="DeliveryStatus" value="Dispatched" />
            <label class="form-check-label" for="Dispatched">Dispatched</label>

            <input type="radio" class="form-check-input" id="Delivered" name="DeliveryStatus" value="Delivered" />
            <label class="form-check-label" for="Delivered">Delivered</label>

            <input type="radio" class="form-check-input" id="Canceled" name="DeliveryStatus" value="Canceled" />
            <label class="form-check-label" for="Canceled">Canceled</label>

        <input id="btn-update-status" type="button" class="btn btn-primary" placeholder="Update Status" value="Update" />
</div>

<button class="btn ">
    <a href="/shipments/list">Back to List</a>
</button>

<script>
    let apiUrl = 'http://localhost:5218/api/shipments';

    const PopulateShipmentDetails = (shipmentId) => {
        console.log(`${apiUrl}/${shipmentId}`)

        // Call the API to fetch shipment details
        $.ajax({
            url: `${apiUrl}/${shipmentId}`, 
            type: 'GET',
            success: function (response) {
                console.log("Shipment data:", response);

                // Populate the page with the fetched shipment data
                $('#orderid').append(response.orderId); 
                $('#customername').append(response.customerName); 
                $('#customeraddress').append(response.customerAddress); 
                $('#totalamount').append(response.totalAmount); 
                $('#deliverydate').append(new Date(response.deliveryDate).toLocaleDateString()); // Format the date

                const status = response.deliveryStatus
                console.log(status);
                if (status) {
                    $(`#${status}`).prop('checked', true);
                }
            },
            error: function (xhr, status, error) {
                console.error('Error fetching shipment details:', error);
                alert('Error fetching shipment details. Please try again.');
            }
        })
    }

    const UpdateStatus = (id, status) => {

        // call update url


    }

    $(document).ready(() => {

        const shipmentId = window.location.pathname.split('/').pop(); // e.g. /shipments/details/3 -> 3

        PopulateShipmentDetails(shipmentId);

        $('#btn-update-status').click(() => {
            console.log("update clicked")
        })
    })

</script>
    